html {
    box-sizing: border-box;
    font-family: Arial;
    height: 100vh;
}

*, *::before, *::after {
    box-sizing: inherit;
}

button {
    padding: 0;
}

.reset-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 20px;
    text-transform: uppercase;
}

img {
    width: 200px;
    height: 200px;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 20px;
}

#message {
    align-self: center;
}

.side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.banner {
    margin-bottom: auto;
}

article {
    display: flex;
    flex: 3;
}

article > * {
    padding-top: 10px;
    flex: auto;
}

#computer {
    background-color: red;
}

#player {
    background-color: green;
}

.score {
    width: 200px;
    height: 150px;
    font-size: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: all 0.1s;
}

.increased {
    background-color: yellow;
}

.tied {
    background-color: blue;
}

.button-dock {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.button {
    flex: 1;
    padding-top: 10px;
}

.game-selection:focus {
    background-color: #aaa;
}
