html {
    box-sizing: border-box;
    font-family: Arial;
    width: min-content;
}

*, *::before, *::after {
    box-sizing: inherit;
}

button {
    padding: 0;
}

.reset-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    width: 200px;
    height: 200px;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

#message {
    align-self: center;
}

.side {
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

article {
    display: flex;
    min-width: 100vw;
}

article > * {
    padding-top: 10px;
}

#computer {
    background-color: red;
}

#player {
    background-color: green;
}

.play {
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.score {
    flex: auto;
    font-size: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.1s;

    width: 200px;
    height: 350px;
}

.increased {
    background-color: yellow;
}

.tied {
    background-color: blue;
}

.button-dock {
    display: flex;
    flex-direction: row;
    flex: 1;

    /* Set this to be 3x image width */
    min-width: 600px;

    min-height: 300px;
}

.button {
    padding-top: 10px;
    width: 100%; /* for when a sole button occupies the dock */
}

.game-selection:focus {
    background-color: #aaa;
}


@media (min-width: 480px) {
    .score {
	height: 150px;
	justify-content: center;
	font-size: 3em;
    }

    .button-dock {
	/* Desktops: Don't use a min-height */
	min-height: 0;
    }
}
