html {
    box-sizing: border-box;
    font-family: Arial;
    height: 100vh;
}

*, *::before, *::after {
    box-sizing: inherit;
}

img {
    width: 200px;
    height: 200px;
}

img.fitted {
    width: 75%;
    height: 75%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 20px;
}

#message {
    align-self: center;
}

.side {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner {
    margin-bottom: auto;
}

article {
    display: flex;
    height: 100%;
}

article > * {
    flex: auto;
}

#computer {
    background-color: red;
}

#player {
    background-color: green;
}

.score {
    font-size: 2em;
}

.button-dock {
    margin-top: auto;
    display: flex;
    flex-direction: row;
}

.game-selection {
    flex: auto;
    height: 25vh;
}

.game-selection:focus {
    background-color: #aaa;
}
